<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateApp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <div class="slides">
            <button class="btn" @click="showModal=true">GET IN TOUCH</button>
        </div>
        <div v-show="showModal" class="modal" @click.self="showModal=false">
            <div class="modal-dialogue">
                <h1>Let us contact you</h1>
                <hr>
                <form>
                    <fieldset>
                        <legend>Name</legend>
                        <p>
                            <select v-model="prefix">
                                <option value="Dr">Dr</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                            </select>
                        </p>
                        <p>
                            <input v-model="firstName" type="text" placeholder="First Name">
                        </p>
                        <p>
                            <input v-model="lastName" type="text" placeholder="Last Name">
                        </p>
                        <p>
                            {{prefix}} {{firstName}} {{lastName}}
                        </p>
                    </fieldset>
                    <fieldset>
                        <legend>Contact Details</legend>
                        <p>
                            <input type="email" placeholder="Email">
                        </p>
                        <p>
                            <input type="tel" placeholder="Phone Number">
                        </p>
                    </fieldset>

                    <fieldset>
                        <legend>Message</legend>
                        <p>
                            <textarea id="message" cols="35" rows="3"></textarea>
                        </p>
                    </fieldset>
                    <p>
                        <input type="submit" value="Submit">
                    </p>
                </form>
            </div>
        </div>
        <div v-for="(val, key) in serveices" :key="`uni${key}`" class="svcContainer" :style="{background: val.bg}">
            <div :class="{[cls]: true, flxflip: key%2}">
                <img :src="val.img" :alt="title">
                <div>
                    <h1> {{val.title}} </h1>
                    <ul>
                        <li v-for="(item, ind) in val.details" :key="ind">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>