<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateApp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <div v-for="(val, key) in serveices" :key="`uni${key}`" class="svcContainer">
            <div class="flx">
                <img :src="val.img" :alt="title">
                <div>
                    <h1> {{val.title}} </h1>
                    <ul>
                        <li v-for="(item, ind) in val.details" :key="ind">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>