/* reset */

* {
    max-width: 1600px;
    margin: auto;
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
    color: #2c3e50;
    cursor: unset;
}

body,
html,
#app {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    max-width: 100%;
}


/* flex - services strip */

.svcContainer {
    max-width: 100%;
}

.flx {
    display: flex;
    max-width: 950px;
    padding: 40px 0px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    flex-wrap: wrap;
}

.flx img {
    width: 420px;
    height: 300px;
    object-fit: contain;
    max-width: 100%;
}

.flxflip {
    flex-flow: row-reverse;
}

.slides {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 25vh;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    /* padding: 20px; */
}

.btn {
    padding: 18px 30px;
    background: #756aee;
    margin: auto;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover {
    background: #000;
}

.modal {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000a;
    z-index: 100;
}

.modal-dialogue {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
}

.modal-dialogue * {
    border-radius: 5px;
    outline: none;
}

fieldset {
    text-align: start;
}

.modal-dialogue p {
    position: relative;
    padding: 2%;
}

label {
    position: absolute;
    padding: 8px;
    opacity: .5;
}

.active {
    opacity: 1;
    color: blue;
    background: white;
    padding: 0 5px;
    font-size: 10px;
    left: 13px;
    top: 1px;
}

input,
textarea {
    padding: 5px;
    width: 96%;
}

input[type="submit"] {
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: green;
    color: white;
}