/* reset */

* {
    max-width: 1600px;
    margin: auto;
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
    color: #2c3e50;
    cursor: unset;
}

body,
html,
#app {
    margin: 0;
    padding: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    max-width: 100%;
}


/* flex - services strip */

.svcContainer {
    max-width: 100%;
}

.flx {
    display: flex;
    max-width: 950px;
    padding: 40px 0px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    flex-wrap: wrap;
}

.flx img {
    width: 420px;
    height: 300px;
    object-fit: contain;
    max-width: 100%;
}

.flxflip {
    flex-flow: row-reverse;
}

.slides {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 25vh;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    /* padding: 20px; */
}

.btn {
    padding: 18px 30px;
    background: #756aee;
    margin: auto;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover {
    background: #000;
}